body {
  width: 2550px;
  height: 3580px;
  font-family: "Raleway", sans-serif;
}
.name {
  font-size: 120px;
  line-height: 120px;
  text-transform: uppercase;
  color: #2f3137;
  font-weight: 800;
  margin-bottom: 25px;
}
.work-now {
  margin-top: 0px;
  margin-bottom: 57px;
  font-size: 44px;
  letter-spacing: 4px;
  color: #1174ae;
  font-weight: 300;
  font-style: italic;
}
.introduction {
  width: 820px;
  height: 255px;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 56px;
  color: #2f3137;
  text-align: left;
  margin-bottom: 100px;
}
.main-content {
  margin-left: 735px;
  margin-top: 130px;
} /* Основні стилі для контейнера grey-color */
.grey-color {
  // padding: 50px 136px 102px 140px;
  padding-left: 35px;
  padding-right: 135px;
  width: 100%; /* Використовуємо відсоткову ширину для адаптивності */
  height: 672px; /* Висота контейнера */
  background-color: #2f3137;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  position: relative; /* Додаємо позицію відносно для можливого позиціонування */
  overflow: hidden; /* Сховати вихідний контент */
}

// /* Стилі для колонок */
// .column {
//   position: relative;
//   transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease; /* Плавний перехід для кольору, ширини та висоти */
//   background-color: #2f3137; /* Початковий колір фону */
// }

/* Встановлення початкових розмірів колонок */
.column.skills,
.column.hobbies,
.column.languages {
  flex: 1;
  height: 100%;
  width: 672px; /* Висота колонок відповідає висоті батьківського контейнера */
  padding-left: 100px;
  padding-top: 40px;
}

/* Зміна кольору і розміру для контейнера skills при наведенні */
.column.skills:hover {
  background-color: #1174ae; /* Колір фону при наведенні */
  width: 760px; /* Ширина при наведенні */
  height: 670px; /* Висота при наведенні */
  // z-index: 12; /* Підняти над іншими колонками */
}

/* Зміна кольору і розміру для контейнера hobbies при наведенні */
.column.hobbies:hover {
  background-color: #1174ae; /* Колір фону при наведенні */
  width: 760px; /* Ширина при наведенні */
  height: 670px; /* Висота при наведенні */
  // z-index: 3; /* Підняти над іншими колонками */
}

/* Зміна кольору і розміру для контейнера languages при наведенні */
.column.languages:hover {
  background-color: #1174ae; /* Колір фону при наведенні */
  width: 760px; /* Ширина при наведенні */
  height: 670px; /* Висота при наведенні */
  // z-index: 1; /* Підняти над іншими колонками */
}

// /* Скидання правого відступу для останнього блоку */
// .column:last-child {
//   margin-right: 0;
// }

/* Стилі для заголовка */
.head2 {
  margin-left: 104px;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
}

/* Стилі для списку про */
.about {
  display: flex;
  flex-direction: column;
  gap: 50px; /* Відступи між елементами h3 */
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: relative;
}

/* Псевдоелемент для декору */
.about::before {
  content: "";
  position: absolute; /* Псевдоелемент має бути розташований абсолютно відносно найближчого позиціонованого батьківського елемента */
  left: 0;
  top: -45px; /* Відстань від верхнього краю заголовка */
  width: 660px;
  height: 4px;
  background-color: #ffffff;
}

/* Стилі для заголовків всередині .about */
.about h3 {
  margin: 0; /* Щоб уникнути непотрібних відступів зовні */
}
// .blue-rectangle {
//   width: 760px; /* Ширина прямокутника */
//   height: 100px; /* Висота прямокутника */
//   background-color: #1174ae; /* Синій колір */
//   margin-bottom: 34px; /* Відстань між синім прямокутником і наступним елементом */
// }

.grey-color1 {
  width: 760px; /* Фіксована ширина */
  height: 672px; /* Висота контейнера */
  background-color: #2f3137;
  padding: 50px 136px 102px 140px;
  margin-top: 135px; /* Розташування контейнера */
}

.container {
  display: flex;
  gap: 96px; /* Optional: Add spacing between the containers */
}
.about a {
  color: #ffffff;
}
