.page {
  width: 100%;
  // margin-top: 0%;
  height: auto;
  font-family: "Raleway", sans-serif;
  //margin-bottom: 130px;
  overflow-x: hidden;
}

.col-7 {
  flex: 0 0 auto;
  width: 62.4%;
}
.col-5 {
  flex: 0 0 auto;
  width: 37.6%;
  //height: 100vh;
}
.name {
  font-size: 5.33vw;
  line-height: 5.33vw;
  text-transform: uppercase;
  color: #2f3137;
  font-weight: 800;
  margin-top: 10%;
  margin-bottom: 0.5rem;
}
.work-now {
  font-size: 1.87vw;
  letter-spacing: 0.5dvh;
  //letter-spacing: 4px;
  color: #1174ae;
  font-weight: 300;
  font-style: italic;
  font-family: "Raleway ";
  margin-bottom: 1rem;
}
.introduction {
  height: 8rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #2f3137;
  text-align: left;
  width: 100%; /* Адаптивна ширина */
}
.years-color {
  float: left;
  width: 1.5rem;
  height: 8.5rem;
  background-color: #1174ae;
  display: flex; /* Додаємо flexbox */
  flex-direction: column; /* Розміщуємо по вертикалі */
  justify-content: center; /* Центруємо по вертикалі */
  align-items: center; /* Центруємо по горизонталі */
}

.years {
  text-align: center;
  margin: 0; /* Змінюємо відступи */
  writing-mode: tb-rl; /* Вертикальне написання */
  transform: rotate(-180deg); /* Поворот тексту */
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway";
  display: block; /* Можна залишити, якщо потрібно */
}

// .main-content {
//   padding-left: 135px;
//   //margin-top: 130px;
// } /* Основні стилі для контейнера grey-color */
.grey-color {
  //padding-left: 1.09rem;
  padding-right: 4rem;
  width: 100%; /* Використовуємо відсоткову ширину для адаптивності */
  height: 23rem; /* Висота контейнера */
  background-color: #2f3137;
  box-sizing: border-box;

  flex-direction: row;
  align-items: flex-start;
  position: relative; /* Додаємо позицію відносно для можливого позиціонування */
  overflow: hidden; /* Сховати вихідний контент */
}

// .column-skills,
// .column-hobbies,
// .column-languages,
// .column-references,
// .colomn-education {
//   flex: 1;
//   height: 23rem;
//   width: 25rem; /* Висота колонок відповідає висоті батьківського контейнера */
//   // padding-left: 3rem;
//   // padding-top: 2rem;
// }
.colomn-education {
  margin-top: 3rem;
}
/* Зміна кольору і розміру для контейнера skills при наведенні */
// .column-skills:hover ,
// .column-hobbies:hover,
// .column-languages:hover,
//  .icon-container1:hover {
//    transition: background-color 0.3s ease;
//   background-color: #1174ae; /* Колір фону при наведенні */
//   height: 100vh;
//   // width: 25rem;
//   // margin-left: 0.5rem;
//   z-index: 1; /* Підняти над іншими колонками */
//   .icon-container1:hover{
//   background-color: #2f3137;
//   height: auto;
// }
// }
.column-skills,
.column-hobbies,
.column-languages {
  transition: background-color 0.3s ease; /* Плавний перехід кольору фону */
}

.column-skills:hover,
.column-hobbies:hover,
.column-languages:hover {
  background-color: #1174ae;
  height: 100vh; /* Колір фону колонки при наведенні */
}

.column-skills:hover .icon-container1,
.column-hobbies:hover .icon-container1,
.column-languages:hover .icon-container1 {
  background-color: #2f3137; /* Колір фону іконки при наведенні */
}

/* Зміна кольору іконки при наведенні */
.column-skills:hover .icon-container1 i,
.column-hobbies:hover .icon-container1 i,
.column-languages:hover .icon-container1 i {
  color: white; /* Змінити колір іконки, якщо потрібно */
}
// .icon-container1:hover{
//   background-color: #2f3137;
// }
/* Стилі для заголовка */
.head2 {
  margin: 3rem 0 0rem 8rem;

  font-size: 2.5vw;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
}
.head2-1 {
  margin: 0rem 0rem 0rem 3rem;
  // top right bottom left
  font-size: 2.5vw;
  text-transform: uppercase;
  color: #2f3137;
  font-weight: 800;
}

/* Стилі для списку */

.about-me {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Відступи між елементами h3 */
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  position: relative;
  margin-left: 3.5rem;
  padding-bottom: 3rem;
}
.about {
  @extend .about-me;

  gap: 1.5rem;
}
.about-me a {
  margin-inline-start: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
  // margin-bottom: 1.3rem;
}

// .bi-telephone-fill,
// .bi-globe,
// .bi-geo-alt-fill,
// .bi-pie-chart-fill,
// .bi-flag,
// .bi-globe-asia-australia {
//   font-size: 1.2rem;
// }
// .bi-person-fill {
//   font-size: 2.7rem;
// }
.bi {
  font-size: 1.3rem;
}
.icon-container,
.icon-container1 {
  width: 2rem;
  height: 2rem;
  justify-content: center; /* Центрує горизонтально */
  align-items: center;
  margin: 3rem 0 0 3.5rem;
  display: flex;
  background-color: #1174ae;
}

.icon-container2 {
  @extend .icon-container;
  margin: 0;
}
.intro {
  padding-left: 2rem;
  //margin-right: 5rem;
}
/* Стилі для заголовків всередині .about */
.about h3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0; /* Щоб уникнути непотрібних відступів зовні */
}

.blue-rect {
  //width: 25rem; /* Ширина прямокутника */
  height: 3rem; /* Висота прямокутника */
  background-color: #1174ae; /* Синій колір */
  margin-bottom: 1.5rem; /* Відстань між синім прямокутником і наступним елементом */
}
.blue-and-grey-rect {
  /* margin-right: 4rem; */
  width: 88.6%;
}
.grey-color1 {
  // margin-left: 3rem;
  // height: 23rem; /* висота 76% від висоти вікна сторінки */
  // width: 25rem; /* ширина 69.4% від ширини сторінки */

  // height: 108vh;
  // width: 89.6%;
      //box-sizing: border-box;
  //position: relative;
  //height: 23rem;
  background-color: #2f3137;
  // margin-right: 4rem;
}

// .grey-color1:hover { //це анімація блоку з контактамми
//   background-color: #1174ae; /* Синій колір при наведенні */
// }
.job-experience {
  margin-left: 3.5rem;
}
.job-section {
  margin-top: 3.5rem;
  // margin-bottom: 2rem;
}
.agency {
  margin: 0 0 0 3rem;
  color: #2f3137;
  font-size: 2vw;
  font-weight: bold;
  font-style: italic;
}
.place-work {
  margin: 0 0 0 3rem;
  font-size: 1.7vw;
  color: #2f3137;
  font-weight: 500;
  font-style: italic;
  font-family: "Raleway";
}
.position {
  margin: 0 0 0 3rem;
  font-size: 2vw;
  /// width: 100%;
  text-transform: uppercase;
  color: #2f3137; // Основний колір
  font-weight: 800;
}

.name1 {
  @extend .position; // Використовуємо всі властивості з .position
  margin: 0;
  padding-top: 0;
  position: relative;
  color: #ffffff; // Змінений колір
}

.job-descripion {
  margin: 1rem 1rem 3rem 3rem;
  font-size: 1rem;
  color: #2f3137;
  text-align: left;
}
.grey-color-vert {
  padding-top: 0.5rem;
  padding-bottom: 3.5rem;
  background-color: #2f3137; /* Колір фону */
}

/* риска */
.grey-and-blue-rect {
  width: 88.6%;
}
.line {
  content: "";
  left: 0;
  top: -10rem; /* Відстань від верхнього краю заголовка */
  width: 18.75rem;
  height: 0.2rem;
  margin: -0.2rem 0rem 2rem 3.5rem;
  background-color: #ffffff;
}
.line-long {
  @extend.line;
  background-color: #2f3137;
  width: 95%;
  margin: -0.2rem 0rem 3rem 0rem;
}
.pos {
  margin: 0 0 0.5rem;
  //letter-spacing: 0.1rem;
  font-size: 1.4rem;
  color: #1174ae;
  font-weight: bold;
  font-style: italic;
  font-family: "Raleway";
}
.darwin,
.robert {
  margin: 2.3rem 0 0 3.5rem;

  .robert {
    margin: 2rem 0 0 3.5rem;
  }
  a {
    // margin-inline-start: .5rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
  }
}

.agency-uni {
  @extend .agency;
  margin: 0 0 0 8rem;

  color: #ffffff;
}
.position-uni {
  @extend .position;
  margin: 0 0 0 8rem;
  color: #ffffff;
}
.uni-description {
  margin: 0.6rem 2.2rem 0 8rem;
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
}
.position-vert {
  margin-left: 3.5rem;
}
.rect-blue-footer {
  height: 3rem;
  background-color: #1174ae;
  margin-top: 1.5rem;
}
.first-uni {
  margin-bottom: 3rem;
}
// .photo {
//   width: 15rem;
//   max-width: 500px;
//   width: 15rem;
//  margin: 4rem 1rem 3rem 2rem; // (70px, 22px, 53px, 0px)

//   position: relative;
//   border: 20px solid #1174ae;
// // }
.photo {
  width: 15rem;
  height: 19rem;
  //object-fit: cover;
  // max-width: 200px;
  border: 10px solid #1174ae;
  margin: 3rem 1rem 4rem 5rem;
}
// .photo::before {
//   content: "";
//   position: absolute;
//   top: -10px;
//   left: -10px;
//   width: calc(100% + 20px);
//   height: calc(100% + 20px);
//   border: 2px solid grey; /* Внутрішня рамка (сіра) */
// }

// @media (max-width: 768px) {
//   /* Планшети */
//   .name {
//     font-size: 3rem;
//     line-height: 3rem;
//   }
//   .work-now {
//     font-size: 1.4rem;
//   }
// }

// @media (max-width: 600px) {
//   /* Маленькі планшети */
//   .name {
//     font-size: 3.5rem; /* Трохи зменшуємо для компактності */
//     line-height: 4.5rem;
//   }
//   .work-now {
//     font-size: 1.3rem;
//   }
// }

// @media (max-width: 480px) {
//   /* Мобільні пристрої */
//   .name {
//     font-size: 3rem;
//     line-height: 4rem;
//   }
//   .work-now {
//     font-size: 1.2rem; /* Менший шрифт для маленьких екранів */
//   }
// }

// @media (max-width: 320px) {
//   /* Дуже маленькі мобільні пристрої */
//   .name {
//     font-size: 2.5rem; /* Зменшити ще більше */
//     line-height: 3rem;
//   }
//   .work-now {
//     font-size: 1rem; /* Адаптивний шрифт */
//   }
// }
@media (max-width: 1024px) {
  /* Десктопи */
  .name {
    font-size: 4.5rem; /* Злегка менше для великих планшетів */
    line-height: 5.5rem;
  }
  .work-now {
    font-size: 1.6rem; /* Збільшити шрифт для кращої читабельності */
  }
}

.page {
  max-width: 1920px;
  margin: 0 auto;
}
